body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#weatherResult {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  font-size: 18px;
}



.aaa {
  display: flex;
  flex-direction: column;
}